MONGO_URI=mongodb+srv://jatinverma90900_db_user:sK2U8LUGfVnsD6pT@docai.fnbidqp.mongodb.net/?appName=DocAI
MONGO_DB_NAME=documind_ai

JWT_SECRET_KEY=replace_with_a_long_random_string
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

GEMINI_API_KEY=your_gemini_api_key_here
GEMINI_MODEL=gemini-2.5-flash

EMBEDDING_MODEL_NAME=BAAI/bge-base-en-v1.5
